.trend {
  width: 90%;

  margin: 0 auto; /* Center secara horizontal */
  display: flex;
  justify-content: center; /* Center konten secara horizontal */
  align-items: center; /* Center konten secara vertikal */
  gap: 20px;
}
.video-right,
.video-left {
  flex-basis: 50%;
  width: 100%;
  object-fit: cover;
}
