.service {
  width: 90%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  position: relative;
}
.service-left {
  flex: 1;
}
.service-right {
  flex: 1.5;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.service-right .next-btn,
.service-right .back-btn {
  position: absolute;
  color: #fff;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}
.service-right .back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}
.slider ul {
  display: flex;
  width: 300%;
  overflow-x: hidden;
  transition: 0.5s;
}
.slider ul li {
  list-style: none;
  padding: 15px;
  width: 33.33%;
}
.card-slider {
  display: flex;
  align-items: center;
  gap: 15px;
}
img {
  border-radius: 10px;
  width: 200px;
  height: 180px;
}
.srv-info {
  gap: 10px;
}
.srv-info h3 {
  text-transform: uppercase;
  color: #76abae;
}
.srv-info p {
  margin-top: 5px;
}

/* responsive layout */
/* 2xl */
@media (max-width: 1536px) {
  .service {
    width: 95%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .service-right {
    flex: 1.2;
  }
}

/* lg */
@media (max-width: 1024px) {
  .service {
    flex-direction: column;
  }
  .service-left {
    width: 100%;
  }
  .service-right {
    width: 100%;
    max-width: 800px;
  }
  .card-slider {
    align-items: center;
  }
}

/* md */
@media (max-width: 768px) {
  .service {
    margin: 40px auto;
  }
  .card-slider {
    flex-direction: column;
    text-align: center;
  }
  .srv-info {
    align-items: center;
  }
  img {
    width: 250px;
    width: 200px;
  }
  .service-right .next-btn,
  .service-right .back-btn {
    top: 40%;
  }
}

/* sm */
@media (max-width: 640px) {
  .service {
    width: 100%;
    padding: 0 15px;
  }

  .service-right {
    padding: 15px;
  }

  img {
    width: 50%;
    max-width: 300px;
    height: 180px;
  }
}

/* xs */
@media (max-width: 475px) {
  .service-right {
    padding: 10px;
  }
}
