.service {
  width: 90%;
  margin: 80px auto;
  display: flex;
  align-items: center;
}
.service-left {
  flex: 1;
}
.service-right {
  flex: 1.5;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.service-right .next-btn,
.service-right .back-btn {
  position: absolute;
  color: #fff;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}
.service-right .back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}
.slider ul {
  display: flex;
  width: 300%;
  overflow-x: hidden;
  transition: 0.5s;
}
.slider ul li {
  list-style: none;
  padding: 15px;
  width: 33.33%;
}
.card-slider {
  display: flex;
  align-items: center;
  gap: 15px;
}
img {
  border-radius: 10px;
  width: 200px;
  height: 180px;
}
.srv-info {
  gap: 10px;
}
.srv-info h3 {
  text-transform: uppercase;
  color: #76abae;
}
.srv-info p {
  margin-top: 5px;
}
