.hero-img {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.414), rgba(0, 0, 0, 0.414)), url("../../assets/portrait-two-male-barbers-looking-camera.jpg");
  background-size: cover;
  background-position: center;
}
