.hero {
  width: 90%;
  margin: 30px auto;
  position: relative;
  top: -85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(13, 13, 13, 0.952);
  color: #fff;
  border-radius: 10px;
  height: 130px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-info h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: #76abae;
}

.info-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

p {
  font-size: 15px;
  line-height: 1.4;
  color: #fff;
}

i {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  color: #76abae;
}
