/* Pricelist.css */
.pricelist {
  width: 90%;
  margin: 0 auto;
  padding: 0 10%;
}

/* Override Title styles khusus dalam Pricelist */
.pricelist .title-section {
  align-items: center; /* Override dari flex-start ke center */
  text-align: center;
}

.pricelist .title {
  text-align: center;
}

.pricelist .subtitle {
  text-align: center;
}

.harga {
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 2px dashed #76abae;
  width: 60%;
  margin: auto;
  padding: 20px;
  margin-bottom: 80px;
}

.price-right {
  flex: 1;
}
.price-left {
  flex: 1;
}
.info-list {
  margin: 20px;
}
.info-list h3 {
  margin-bottom: 10px;
  color: #76abae;
}

/* responsive */
/* 2xl */
@media (max-width: 1536px) {
  .harga {
    width: 70%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .harga {
    width: 80%;
  }
  .pricelist {
    padding: 0 5%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .harga {
    width: 90%;
  }
  .info-list {
    margin: 15px;
  }
}

/* md */
@media (max-width: 768px) {
  .harga {
    flex-direction: column;
    width: 95%;
    gap: 0;
  }
  .price-left,
  .price-right {
    flex: none;
  }
  .pricelist {
    width: 100%;
    padding: 0 20px;
  }
}

/* sm */
@media (max-width: 640px) {
  .info-list {
    margin: 12px;
  }
  .info-list h3 {
    font-size: 1.1rem;
  }
  .info-listp {
    font-style: 0.9rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .harga {
    padding: 10px;
  }

  .info-list {
    margin: 10px;
  }

  .info-list h3 {
    font-size: 1rem;
  }

  .info-list p {
    font-size: 0.85rem;
  }
}
